@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

.active {
    display: block;
    overflow: visible;
}

.collapsible {
    cursor: pointer;
    user-select: none;
}

.hidden {
    display: none;
    overflow: hidden;
}

.disabled-row {
    opacity: 0.5;
}
