# CacheControl
dist/

# Dependency directories
node_modules/

# Environment files
.env
.env.local
.env.development
.env.production

# System files
.DS_Store
Thumbs.db

# IDE and Editor folders
.idea/
.vscode/
*.sublime-workspace

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Optional artifacts from other tools
*.pnp
.pnp.js
coverage/
